#div-ajax-loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9999;
    opacity: 0.9;
    top: 0;
    display: none;
}